.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    max-width:900px;
    margin:auto;
}

.spinner{
    margin:auto;
    justify-content:center;
    text-align:center;
    padding-top:250px;
}

.nav{
    color: #344051;
    font-family:segoe ui;
    display:flex;
    flex-direction: row;
    max-width: 750px;
    margin:auto;
    padding:10px 20px 0px 20px;
    text-align: center;

}
.icons{ 
    margin-top:15px;
    margin-left:auto;
    margin-right:0px;

}
i{
    color:#444e67;
    margin:5px;;
    
}

.card{
    height:auto;
    width:350px;
    padding:20px;
    font-family:segoe ui;
    border:solid 2px #f2f2f2;
    text-align: inherit;
    margin:20px;
    background-color: #ffffff;
    box-shadow:2px 2px 4px #f2f2f2;
    border-radius:8px;
}
p{
    color:#333333;
}

h2{
    font-weight:600;
}
img{
    
    width:inherit;
    height:inherit;
    border-radius:5px;
}

a{
    text-decoration: none;
    color:#1d1d1d;
}
