.card{
    height:auto;
    width:350px;
    padding:20px;
    font-family:segoe ui;
    border:solid 2px #f2f2f2;
    text-align: inherit;
    margin:20px;
    background-color: #ffffff;
    box-shadow:2px 2px 4px #f2f2f2;
    border-radius:8px;
}
p{color:#333333;}

h2{
    font-weight:600;
}
img{
    
    width:inherit;
    height:inherit;
    border-radius:5px;
}

a{text-decoration: none;
color:#1d1d1d;}